:root{
    --dark-color:#19283f;
    --green-color:#05acc2;
    --red-color:#ff3150;
    --yellow-color:#ffc400;
    --section-color:#eff7fa;
}
body{
    font-family:'Roboto','Raleway', sans-serif;

}
a{
    transition: .2s;
    text-decoration: none;
    display: inline-block;
}
.main-btn {
    background-color:var(--red-color);
    color:#fff;
    text-decoration: none;
    padding:15px 25px;
    text-transform: capitalize;
}
.main-btn:hover{color:white}

.main-title::after{
    content:'';
    width:120px;
    height:2px;
    background-color:var(--green-color);
    position: absolute;
    bottom:-20px;
    left:50%;
    transform:translateX(-50%);
}
/* Start Navbar */

.navbar{
    background-color:var(--dark-color);
    font-weight:500;
    text-transform:capitalize;
}

.navbar .navbar-nav .nav-link{
    color:white;
}

.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover
{
    color:var(--green-color);
}
.navbar .search{
    border-left:1px solid var(--green-color);
}
.navbar .search svg{
    color:var(--green-color)
}

.navbar .navbar-toggler{
    color:white;
    border:1px solid white;
}
.navbar .navbar-toggler:focus{
    box-shadow:none;
}
/* End Navbar */

/* Start Landing */
.landing{
    background-color:var(--dark-color);
    min-height:calc(100vh - 56px);
}
.landing h1 {
    font-family:'Raleway'
}
/* End Landing */

/* Start Features  */
.features .icon-holder{

    height: 200px;
}
.features .icon-holder svg{
    left:50%;
    transform:translateX(-50%)
}
.features .icon-holder .number{
    color:var(--section-color);
    font-size:12rem
}
.features .icon-holder .icon{
    color:var(--green-color);
}
.features .feat h4{
    color:var(--yellow-color)
}
/* End Features  */

/* Start OurWork */

.our-work{
    background-color:var(--section-color)
}
.our-work .nav-link.active{
    background-color: var(--red-color);
    color: #FFF;
}
.our-work .nav-link{
    background-color: transparent;
    color:var(--red-color)
}

.our-work .nav-link:hover{
    color:var(--red-color)
}

.our-work ul .nav-link:focus{
    background-color:var(--red-color);
    color: #FFF;
    box-shadow:none
}
.our-work ul li{
    margin-right:5px;
    
    margin-left:5px
}
.our-work ul li:not(.active):hover{
    color:var(--red-color)
}
.our-work .box{
    padding:5px;
    border-radius:2px;
    overflow:hidden;
    position:relative;
    text-align:center;
}
.our-work .box::before{
    content: attr(data-work);
    position:absolute;
    background-color:rgba(17, 194, 218, 0.63);
    width:calc(100% - 10px);
    height:calc(100% - 10px);
    font-weight:bold;
    color:#fff;
    font-size:25px;
    display: flex;
    align-items: center;
    justify-content:center;
    transform:translateX(-500px);
    transition:all .5s ease-in-out
}
.our-work .box:hover::before{
    transform:translateX(0);
}
.our-work  a:hover{
    cursor:pointer
}
/* End OurWork */

/* Start Stuff */
.stuff .description {
    max-width:500px; 
}
/* End Stuff */

/* Start Team */
.team{
    background-color:var(--section-color);
}
.team h2{
    color:var(--yellow-color)
}
.team .box {
    position: relative;
    
}
.team .box img{
    border-radius:5px 5px 0 0 
}
.team .box h4{
    background-color:var(--green-color);
}

/* end Team */

/* Start Tech */
.techs img{
    transition: all .2s ease-in-out;
    padding:5px
}
.techs img:hover{
    box-shadow:2px 2px 3px rgba(150, 149, 149, 0.27);
    padding-right:10px ;
    border-radius:5px;
    cursor:pointer;
}
/* End Tech */

/* Start Project */
.project{
    background-color:var(--dark-color);
}
/* End Project */

/* Start Blog */
.blog a img{
    width:100%;
    height:auto;
    min-height: 262px;
    object-fit: cover;
    object-position: center;
}
.blog h5{color:#333;}

/* End Blog */

/* Start Subscribe */
.subscribe{
    background-color:var(--yellow-color)
}
.subscribe input[type="text"] {
    border:none;
    border-bottom:1px solid #FFF;
    color:#333 !important;
    caret-color: #fff;
}
.subscribe input[type="text"]:focus{
    outline:none;
}
.subscribe input::-moz-placeholder{color:#FFF}
.subscribe input[type="text"]::-o-placeholder{color:#FFF}
.subscribe input[type="text"]::-ms-placeholder{color:#FFF}
.subscribe input[type="text"]::-webkit-placeholder{color:#FFF}

.subscribe button{
    background-color:var(--dark-color);
    color:#FFF;
}
.subscribe button:hover{
    color: #CCC;
}
/* End Subscribe */

/* Start Footer */
.footer {
    background-color:var(--dark-color)
}
.footer a{
    transition: .2s;
    text-decoration: none;
    display: inline-block;
    color:rgba(255,255,255,.5);
}
.footer a:hover{
    color:#FFF;
}
.footer .copyright span:first-of-type{
    color: var(--green-color);
}
.footer .copyright span:last-of-type {
    color: var(--yellow-color);
}
/* End Footer */